/* General body styling for dark fantasy */
body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  
  /* Initial background image */
  background-image: url('https://plus.unsplash.com/premium_photo-1733259715665-bc8255c5a822?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;  
  
  
  animation: changeBackground 10s infinite alternate;  /* Change background every 10 seconds in alternating cycles */
}


@keyframes changeBackground {
  0% {
    background-image: url('https://images.unsplash.com/photo-1516533075015-a3838414c3ca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
  50% {
    background-image: url('https://images.unsplash.com/photo-1511149755252-35875b273fd6?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
  100% {
    background-image: url('https://images.unsplash.com/photo-1516533075015-a3838414c3ca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/* Game Container */
#game {
  max-width: 600px;
  max-height: 500px;
  background-color: #212121;
  color: #ffffff;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  animation: fadeIn 1s ease-in-out;
}

/* Stats section */
#stats {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #feac32;
}

.stat {
  font-size: 14px;
  padding-right: 10px;
}

#controls {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* Control Buttons */
button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(255, 165, 0, 0.3);
}

button:hover {
  background-color: #ffcc66;
}

button:active {
  background-color: #ff9933;
}

/* Monster stats styling */
#monsterStats {
  display: none;
  border: 1px solid #feac32;
  padding: 10px;
  background-color: #d23232;
  margin-top: 15px;
}

#monsterName {
  font-size: 18px;
}

/* Music button */
#musicButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

#musicButton:hover {
  background-color: #333;
}

/* Text area */
#text {
  background-color: #212121;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
